@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
body {
  margin: 0;
  font-family: 'VT323', Lucida Sans Typewriter, Lucida Console, monaco, 'Bitstream Vera Sans Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}
